.div1 {
    border-style: solid;
    height: 400px;
    width: 100px;
    float: left;
    margin-top: 12px;
    margin-left: 12px
}

.div2 {
    border-style: solid;
    height: 400px;
    width: 100px;
    float: left;
    margin-top: 12px;
    margin-left: 12px
}

.div3 {
    border-style: solid;
    height: 400px;
    width: 100px;
    float: left;
    margin-top: 12px;
    margin-left: 12px
}

.div4 {
    border-style: solid;
    height: 400px;
    width: 100px;
    float: left;
    margin-top: 12px;
    margin-left: 12px
}

